<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: blanchedalmond;
            color: darkolivegreen;
        }
    </style>
</head>
<body>
    <p>Hello NPM</p>
    
    <h3>Backend Users List:</h3>
    <% if (locals.data && data.data && Array.isArray(data.data)) { %>
        <ul>
            <% data.data.forEach(function(name) { %>
                <li><%= name %></li>
            <% }) %> </ul>
    <% } else { %>
        <p>No user array found in data.</p>
    <% } %>
</body>
</html>